<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to the Forum | UIXPLORER</title>


    <link rel="stylesheet" th:href="@{/style/utils.css}">
    <link rel="stylesheet" th:href="@{/style/homepage/header.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/forum.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="icon" type="image/png" th:href="@{/images/icon-nobg.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Ubuntu&display=swap}" rel="stylesheet">
</head>
<body>

<header class="header container">
    <nav>
        <ul class="header__menu">
            <li>
                <ul class="header__link">
                    <li><a th:href="@{/homepage}">HOME</a></li>
                    <li><a th:href="@{/about}">ABOUT</a></li>
                    <li><a th:href="@{/articles}">ARTICLES</a></li>
                    <li><a th:href="@{/forum}">FORUM</a></li>
                </ul>
            </li>
            <li class="header__logo">
                <img th:src="@{/images/LOGO-figma2.png}" alt="logo">
            </li>
            <li class="header__right">

                <div class="before_avatar">
                    <div class="friends-list">
                        <i class="fa-solid fa-user-group" th:onclick = "toggleFriendsMenu()"></i>

                        <div class="friends-menu-wrap" id="friendsMenuWrap">

                            <div th:if="${hasfriends == true}">
                                <div class="friends-menu" id="friendsMenu">
                                    <h4>Your Friends</h4>
                                    <div class="friend-item" th:each="friend : ${friendsList}" onclick="openChat(this)">
                                        <input type="hidden" name="chosenFriendId" th:id="'friendId-' + ${friend.id}" th:value="${friend.id}">
                                        <div class="friend-pic">
                                            <img th:src="${friend.image}">
                                        </div>
                                        <h5 th:text="${friend.name}"></h5>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${hasfriends == false}">
                                <div class="friends-menu">
                                    <h4>No friends</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header__avatar">
                    <img th:src="${image}" alt="default avatar" class= "header-avatar" th:onclick = "toggleMenu()">
                </div>

            </li>
        </ul>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <div class="user-info-avatar">
                        <img th:src="${image}">
                    </div>
                    <h3 th:text="${name}"></h3>
                </div>
                <hr>

                <a th:href="@{/account}" class="sub-menu-link">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>YOUR ACCOUNT</p>
                    <span>></span>
                </a>

                <a th:href="@{/dashboard}" class="sub-menu-link">
                    <i class="fa-brands fa-elementor"></i>
                    <p>DASHBOARD</p>
                    <span>></span>
                </a>

                <a th:href="@{/logout}" class="sub-menu-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>LOGOUT</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="fire">
        <i class="fa-solid fa-fire"></i>
        <div class="fire-text">
            <h5 th:text="${daysMessage}"></h5>
        </div>
    </div>
</header>

<main>

    <div class="main__title__forum">
        <h1>Add to the Forum!</h1>
        <h3>Ask a question or share an idea with other users:</h3>
    </div>

    <form th:action="@{/add-forum/save}" class="forum__form" method="post" th:object="${discussion}">
        <textarea placeholder="Start a discussion..." name="message" class="add__forum__box" maxlength="800" required> </textarea>
        <button type="submit">Add</button>
    </form>

</main>

<footer class="footer container">
    <ul class="footer__menu">
        <li><a th:href="@{/contact}">CONTACT</a></li>
        <li>
            <div>
                <ul class="social">
                    <li>
                        <a th:href="@{https://www.linkedin.com/in/lavinia-smantana/}"> <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a th:href="@{https://github.com/LaviniaSmantana}"> <i class="fa-brands fa-square-github"></i> </a>
                    </li>
                    <li>
                        <a th:href="@{https://www.facebook.com/lavinia.smantana/}"><i class="fa-brands fa-square-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</footer>


<script th:src="@{/files/header-functions.js}"> </script>

</body>
</html>