<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | UIXPLORER</title>

    <link rel="stylesheet" th:href="@{/style/homepage/header.css}">
    <link rel="stylesheet" th:href="@{/style/utils.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/contact.css}">
    <link rel="icon" type="image/png" th:href="@{/images/icon-nobg.png}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css}">
</head>
<body>

<header class="header container">
    <nav>
        <ul class="header__menu">
            <li>
                <ul class="header__link">
                    <li><a th:href="@{/homepage}">HOME</a></li>
                    <li><a th:href="@{/about}">ABOUT</a></li>
                    <li><a th:href="@{/articles}">ARTICLES</a></li>
                    <li><a th:href="@{/forum}">FORUM</a></li>
                </ul>
            </li>
            <li class="header__logo">
                <img th:src="@{/images/LOGO-figma2.png}" alt="logo">
            </li>
            <li class="header__right">

                <div class="before_avatar">
                    <div class="friends-list">
                        <i class="fa-solid fa-user-group" th:onclick = "toggleFriendsMenu()"></i>

                        <div class="friends-menu-wrap" id="friendsMenuWrap">

                            <div th:if="${hasfriends == true}">
                                <div class="friends-menu" id="friendsMenu">
                                    <h4>Your Friends</h4>
                                    <div class="friend-item" th:each="friend : ${friendsList}" onclick="openChat(this)">
                                        <input type="hidden" name="chosenFriendId" th:id="'friendId-' + ${friend.id}" th:value="${friend.id}">
                                        <div class="friend-pic">
                                            <img th:src="${friend.image}">
                                        </div>
                                        <h5 th:text="${friend.name}"></h5>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${hasfriends == false}">
                                <div class="friends-menu">
                                    <h4>No friends</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header__avatar">
                    <img th:src="${image}" alt="default avatar" class= "header-avatar" th:onclick = "toggleMenu()">
                </div>

            </li>
        </ul>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <div class="user-info-avatar">
                        <img th:src="${image}">
                    </div>
                    <h3 th:text="${name}"></h3>
                </div>
                <hr>

                <a th:href="@{/account}" class="sub-menu-link">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>YOUR ACCOUNT</p>
                    <span>></span>
                </a>

                <a th:href="@{/dashboard}" class="sub-menu-link">
                    <i class="fa-brands fa-elementor"></i>
                    <p>DASHBOARD</p>
                    <span>></span>
                </a>

                <a th:href="@{/logout}" class="sub-menu-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>LOGOUT</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="fire">
        <i class="fa-solid fa-fire"></i>
        <div class="fire-text">
            <h5 th:text="${daysMessage}"></h5>
        </div>
    </div>
</header>

<section class="box container">

    <!--
    Acest formular utilizeaza Web3Forms pentru a construi un formular de contact.
    Web3Forms este un serviciu API care permite trimiterea formularelor de contact fara a necesita un backend propriu.
    Este necesara generarae unei chei de acces pe site-ul : https://web3forms.com/
    -->

    <form th:action="@{https://api.web3forms.com/submit}" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h1>Feel free to reach out with feedback, questions or just to say hello!</h1>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="bbef8e09-2b6f-4603-8aa7-e33a15a07071">

        <input type="text" name="email" placeholder="Email" class="contact-inputs" required>
        <input type="text" name="subject" placeholder="Subject" class="contact-inputs" required>

        <textarea name="message" placeholder="Message" class="contact-inputs" maxlength="300" required></textarea>

        <button type="submit">Submit</button>
    </form>
    <div class="contact-right">
        <img th:src="@{/images/avatar-contact.png}" alt="avatar" />
    </div>
</section>

<div class="chat-window" id="chatWindow">
    <div class="chat-header">
        <img th:src="${friendImg}" class="chat-friends-img">
        <h5 th:text="${friendName}"></h5>
        <i class="fa-solid fa-times" th:onclick="closeChat()"></i>
    </div>
    <div class="chat-body" id="chatBody">
        <div class="messages-menu" id="messagesMenu">
        </div>
    </div>
    <div class="chat-footer">
        <form id="sendMessageForm">
            <input type="text" id="chatInput" name="chatmsg" th:value="${chatmsg}" placeholder="Type a message...">
            <button type="submit">Send</button>
        </form>
    </div>
</div>

<footer class="footer container">
    <ul class="footer__menu">
        <li><a th:href="@{/contact}">CONTACT</a></li>
        <li>
            <div>
                <ul class="social">
                    <li>
                        <a th:href="@{https://www.linkedin.com/in/lavinia-smantana/}"> <i class="fa-brands fa-linkedin"></i> </a>
                    </li>
                    <li>
                        <a th:href="@{https://github.com/LaviniaSmantana}"> <i class="fa-brands fa-square-github"></i> </a>
                    </li>
                    <li>
                        <a th:href="@{https://www.facebook.com/lavinia.smantana/}"><i class="fa-brands fa-square-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</footer>

<script th:src="@{/files/header-functions.js}"> </script>

</body>
</html>