*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar{
    width: 10px;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: #4b4d4e69;
}

:root{
    --white: rgb(241, 240, 233);
    --bkg: rgb(255, 250, 241);
    --black: #212025;
    --orange: rgb(200, 106, 19);
    --orange-light: #E37917;
    --navy: rgb(34, 102, 102);
    --navy-overlay: rgba(17, 64, 62, 0.8);
    --teal: rgb(48, 141, 141);
    --dark-gray: rgb(23, 23, 24);
    --gray: rgb(82, 80, 80);
    --light-gray: rgba(219, 219, 219, 0.5);
    --light-gray-full: rgb(219, 219, 219);
    --orange-opac:rgba(200, 106, 19, 0.5);
    --loading: rgba(82, 80, 80, 0.5);

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}

body {
    background-color: #FFFAF1;
   /* background-image: url(../images/texture-edit.png);
    background-size: cover; */
}
